<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        a {color: #205090;}
        body {color: #404040; font-size: 14px; line-height: 19px; font-family: Arial, Helvetica, Verdana, sans-serif;}
    </style>
</head>
<body>
    <div style="background-color: #4E71A0; position: relative; min-height: 50px; border: 1px solid #2D5080; border-radius: 4px;">
        <a href="{{ hostUrl }}" style="color: #fff;  font-size: 18px;  line-height: 20px;  text-decoration: none;  float: left;  padding: 15px;">{{ 'SocioChat'|trans }}</a>
    </div>
    <div style="color: #4E71A0; font-size: 20px; margin-top: 20px">Заходите поговорить :)</div>
    <p>Вы получили данное письмо, потому что пожелали уведомить вас, когда в чате будет более {{ limit }} человек.</p>
    <p>Сейчас на основном канале общается {{ onlineCount }} человек(а)</p>
    {% for userId, userName in onlineList %}
        {% set guest = props.getByUserId(userId) %}
        <div style="height:36px; margin-bottom: 12px">
        {% if guest.getAvatarThumb2X %}
            <img style="width:36px; height: 36px; display: inline-block; float:left; border-radius: 50%; box-shadow: 0 2px 2px #aaa; overflow: hidden;" src="{{ hostUrl }}/{{ avatarDir }}{{ guest.getAvatarThumb2X }}"><br clear="both">
        {% else %}
            <img style="width:36px; height: 36px; display: inline-block; float:left; border-radius: 50%; box-shadow: 0 2px 2px #aaa; overflow: hidden;" src="{{ hostUrl }}/img/noavatar.png"><br clear="both">
        {% endif %}
            <span style="margin-left: 12px; display: inline-block; float:left; height: 100%; line-height: 36px">{{ userName }}</span>
        </div>
    {% endfor %}
    <p><a href="{{ hostUrl }}">Присоединяйтесь</a>!</p>
</body>
</html>