{% set hostUrl = config.domain.protocol ~ config.domain.web %}
{% set version = config.version %}
{% if js is not defined %}
    {% set js = '' %}
{% endif %}
{% if meta is not defined %}
    {% set meta = '' %}
{% endif %}
{% include 'header.twig' with [title, js, hostUrl, meta, version] %}
<body>
<div class="container" id="wrapper">
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span><span class="glyphicon glyphicon-cog"></span>
				</button>
				<a href="#chat" class="navbar-brand navbar-left tab-panel" data-toggle="tab">{{ 'SocioChat'|trans }}</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul role="navigation" class="nav navbar-nav">
					<li>
						<a href="/faq.php" target="_blank" class="tip" title="{{ 'index.FAQtip'|trans }}"><span
								class="glyphicon glyphicon-question-sign"></span> {{ 'index.FAQ'|trans }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
            {% block heading %}
			{{ heading }}
            {% endblock %}
		</div>
		<div class="panel-body">
            {% block message %}
		    {{ message }}
            {% endblock %}
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>