{% if title is not defined %}
    {% set title = 'соционический чат без регистрации' %}
{% endif %}
{% if hostUrl is not defined %}
    {% set hostUrl = 'https://sociochat.ru' %}
{% endif %}
{% if js is not defined %}
    {% set js = '' %}
{% endif %}
{% if meta is not defined %}
    {% set meta = '' %}
{% endif %}
{% if version is not defined %}
    {% set version = '' %}
{% endif %}
<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title>СоциоЧат - {{ title }}</title>
    <meta property="og:image" content="{{ hostUrl }}/img/sociochat.jpg">
    <link rel="image_src" href="{{ hostUrl }}/img/sociochat.jpg" />
    <meta property="og:title" content="СоциоЧат - {{ title }}"/>
    <meta property="og:description"
          content="Удобный современный и быстрый соционический чат. Здесь находят дуалов и новых друзей! Оптимизирован под мобильные устройства."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description"
          content="Удобный современный и быстрый соционический чат. Здесь находят дуалов и новых друзей! Оптимизирован под мобильные устройства.">
    <meta name="keywords" content="соционика, мобильные знакомства, чат, дуалчат">
    <meta name="theme-color" content="#4E71A0">
    {{ meta|raw }}
    <link rel="apple-touch-icon" href="{{ hostUrl }}/img/sociochat.jpg">
    <link rel="stylesheet" href="{{ hostUrl|raw }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ hostUrl|raw }}/css/styles.css?v={{ version }}">
    {{ js|raw }}
    <link rel="icon" href="{{ hostUrl|raw }}/favicon.ico" type="image/x-icon">
    <base href="/">
</head>
