<div id="chat" class="tab-pane active">
    <div class="panel panel-default chat-container">
        <div class="panel-body">
	        <div class="notifications"></div>
            <div id="log">
                {% if escapedFragment %}
                {{ escapedFragment|raw }}
                {% else %}
                <div class="system">
                    Подключаемся...
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="well well-sm message-input">
        <div class="row">
            <div class="col-xs-10">
                <div class="input-group">
                    <div class="form-inline">
                        <textarea tabindex="1" class="form-control"
                               placeholder="{{ 'index.Message'|trans }}" id="message" maxlength="<?=$maxMsgLength?>"></textarea>

	                    <div id="charsLeft"></div>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-info" id="address-reset"
                                title="{{ 'index.AddressReset'|trans }}" style="display: none"><span
                                class="glyphicon glyphicon-remove"></span></button>
                        <button type="submit" class="btn btn-warning" title="{{ 'index.Send'|trans }}"
                                id="send"><span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <select class="form-control" id="address" data-id="">
                    <option selected="selected" value="">{{ 'index.ToAll'|trans }}</option>
                </select>
            </div>
        </div>

    </div>
</div>