<div class="panel panel-default tab-pane" id="profile">
    <div class="panel-heading">{{ 'index.ProfileTip'|trans }}</div>
    <div class="panel-body">
	    <div class="notifications"></div>
        <p>{{ 'profile.NameChangePolicy'|trans ({'%s': config.nameChangeFreq / 3600}) }}</p>

        <div class="row btn-vert-block form-group">
            <div class="col-md-3 btn-vert-block">
                <input type="text" class="form-control" placeholder="{{ 'profile.Name'|trans }}"
                       id="profile-nickname">
            </div>
            <div class="col-md-3 btn-vert-block">
                <input type="text" class="form-control" placeholder="{{ 'profile.City'|trans }}"
                       id="profile-city">
            </div>
            <div class="col-md-2 btn-vert-block">
                <select class="form-control" id="profile-tim">
                    <option selected disabled>{{ 'profile.TIM'|trans }}</option>
                    {% for tim in TimEnumList %}
                        <option value="{{ tim.getId() }}">{{ tim.getName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 btn-vert-block">
                <select class="form-control" id="profile-sex">
                    <option selected disabled>{{ 'profile.Sex'|trans }}</option>
                    {% for sex in SexEnumList %}
                        <option value="{{ sex.getId() }}">{{ sex.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 btn-vert-block">
                <select class="form-control" id="profile-year">
                    <option selected disabled>{{ 'profile.Birth'|trans }}</option>
                    {% for year in YearsRange %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row btn-vert-block form-group">
            <div class="col-md-12 btn-vert-block">
                <div class="well well-sm">
                    <h5>{{ 'profile.About'|trans }}:</h5>
                    <textarea class="form-control" rows="5" id="profile-about"></textarea>
                </div>
            </div>
        </div>

        <div class="row btn-vert-block form-group">
            <div class="col-md-12 btn-vert-block">
	            <div class="well well-sm">
	                <label class="checkbox-inline">
	                    <input type="checkbox" id="profile-censor"/> {{ 'profile.Censor'|trans }}
	                </label>
                    <br>
		            <label class="checkbox-inline">
			            <input type="checkbox" id="profile-subscription"/> {{ 'profile.Subscription'|trans }}
		            </label>
	            </div>
            </div>
        </div>
        <div class="row btn-vert-block form-group">
	        <div class="col-md-12 btn-vert-block">
				<div class="well well-sm">
					<h5>{{ 'profile.LineBreak'|trans }}</h5>
					<label class="radio-inline">
						<input type="radio" name="profile-linebreak" value="0" checked> Ctrl+Enter
					</label>
					<label class="radio-inline">
						<input type="radio" name="profile-linebreak" value="1"> Enter
					</label>
				</div>
            </div>
        </div>
        <div class="row btn-vert-block form-group">
	        <div class="col-md-12 btn-vert-block">
	            <div class="well well-sm">
		            <h5>{{ 'profile.MessageNotifications'|trans }}</h5>
		            <label class="checkbox-inline">
			            <input type="checkbox" id="profile-notify-visual"/> {{ 'profile.NotifyVisual'|trans }}
		            </label>

		            <label class="checkbox-inline">
			            <input type="checkbox" id="profile-notify-sound"/> {{ 'profile.NotifySound'|trans }}
		            </label>

                    <h5>{{ 'profile.OnlineNotifications'|trans }}</h5>
                    <select class="form-control" id="profile-notify-online-limit">
                        <option value="0">{{ 'NotSpecified'|trans }}</option>
                        {% for i in range(1, 50) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>


                    <h5>{{ 'profile.msgAnimation'|trans }}:</h5>
                    <select class="form-control" id="profile-msg-animation-type">
                        <option selected disabled>{{ 'NotSpecified'|trans }}</option>
                        {% for animType in MsgAnimationEnum %}
                            <option value="{{ animType.getId() }}">{{ animType.getName()}}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>

        </div>

        <div class="row btn-vert-block">
            <div class="btn-vert-block col-sm-12">
                <a class="btn btn-block btn-success" id="set-profile-info">{{ 'Save'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="panel-heading" style="border-top: 1px solid #ddd;">
	    {{ 'profile.AvatarHeading'|trans }}
    </div>
    <div class="panel-body" id="profile-avatar">
	    <p>{{ 'profile.AvatarTip'|trans }} {{ config.uploads.avatars.maxsize / 1024 }} KB</p>
        <div class="row btn-vert-block form-group">
            <div class="col-sm-3 btn-vert-block">
				<span class="btn btn-success btn-file">
					{{ 'profile.Browse'|trans }}
                    <input type="file" class="upload" accept="image/*" name="img">
				</span>
            </div>
	        <div class="col-sm-3 btn-vert-block">
		        <a class="btn btn-block btn-danger" id="remove-avatar">{{ 'profile.Delete'|trans }}</a>
	        </div>

        </div>
        <div class="row btn-vert-block form-group">
            <div class="col-sm-12 btn-vert-block">
                <p>{{ 'profile.Preview'|trans }}</p>

                <div class="img-thumbnail avatar-placeholder">
	                <div class="user-avatar">
	                    <span class="glyphicon glyphicon-user"></span>
	                </div>
                </div>
            </div>
        </div>
        <div class="progress progress-striped active" style="display: none">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%">
                <span class="sr-only">0% Complete</span>
            </div>
        </div>
        <div class="alert" style="display: none"></div>
        <div class="row btn-vert-block do-upload" style="display: none">
            <div class="btn-vert-block col-sm-12">
                <a class="btn btn-block btn-success">{{ 'Save'|trans }}</a>
            </div>
        </div>

    </div>

    <div class="panel-heading">
        {{ 'profile.Registration'|trans }}
    </div>
    <div class="panel-body" id="reg-panel">
        <p>{{ 'profile.RegistrationTip'|trans }}</p>

        <div class="row btn-vert-block form-group">
            <div class="btn-vert-block col-md-6">
                <input type="email" class="form-control" placeholder="{{ 'Email'|trans }}"
                       id="profile-email">
            </div>
            <div class="btn-vert-block col-md-6">
                <input type="password" class="form-control" placeholder="{{ 'Password'|trans }}"
                       id="profile-password">
            </div>
        </div>
        <div class="row btn-vert-block">
            <div class="col-md-12 btn-vert-block">
                <a class="btn btn-block btn-success" id="set-reg-info">{{ 'Save'|trans }}</a>
            </div>
        </div>
    </div>
</div>
